/*@font-face {
    font-family: Lato;
    src: url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
}*/

body { 
	-webkit-font-smoothing: subpixel-antialiased; 
}
hr {
	height: 1px;
	background: black;
}

.logo-image {
/*	width:150px;
	height: 150px;*/
	width: 130px;
	height: 130px;
	margin: 8px 0 -40px 30px;
}

@media(max-width: 700px) {
	header {
		display: none;
	}
}

header > div > .my-container {
	margin: 0 0 0 0;
	width: 100%;
}

#header-options-container {
	/*padding-right: 50px;*/
}

#page {
	background-color: black;
}

.columns-container {
	/*padding: 10px 80px;*/
	padding: 0;
	/*margin-top: 140px;*/

	/*COMENTAR PARA CRIAR CONTEUDO DEBAIXO DO FOOTER*/
	position: absolute;
	/*DESCOMENTAR PARA CONTEUDO DEBAIXO DO FOOTER*/
	margin-bottom: 65px;

    /*top: 40px;*/
    top: 40px;
    right: 120px;
    left: 120px;
    /*bottom: 90px;*/
    bottom: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

}

@media (max-width: 480px){
	.columns-container {
		right: 0;
		left: 0;
		position: absolute;
		height: 100%	;
		top: 0px;
		padding-bottom: 30px;
		margin-bottom: 40px;
	}
}

#columns.my-container {
	height: 100%;
	padding: 30px 90px;
	/*margin: 30px 90px;
	padding-top: 0;
	padding-bottom: 0;*/
}

@media (max-width: 480px){
	#columns.my-container {
		padding: 20px 40px;
	}
}


.primary_block {
	margin-bottom: 0 !important;
}

/*WEBSITE COLOR SCHEME*/

	/*HEADER COLOR SCHEME*/
	ul.sf-menu > li > a, ul.sf-menu > li > ul > li > a {
		color: white !important;
	}

	.shopping_cart > a > span {
		margin-right: 3px;
	}
	.shopping_cart > a > span , .shopping_cart > a > h5 {
		color: white !important;
	}

	.logintextheader > a {
		color: white !important;
	}
	.logintextheader > a > span{
		color: white !important;
	}
	.logintextheader > span {
		color: white !important;
	}

	#languages-block-top > span, #languages-block-top > h4, #languages-block-top > a > h4 {
		color: white !important;
	}

	#languages-block-top-mobile-home > span, #languages-block-top-mobile-home > h4, #languages-block-top-mobile-home > a > h4 {
		color: black !important;
	}


	/*FIM HEADER COLOR SCHEME*/
	/*CONTENT COLOR SCHEME*/
	.content-container {
		/*background-image: url('../../img/backgrounds/backgroundscreen-winter.jpg');*/
		background-image: url('../../img/backgrounds/backgroundscreen-summer.jpg');
		/*background-image: url('../../img/backgrounds/backgroundscreen-romance.jpg');*/
	}

	h1, h2, h3, h4, p, label, a, .navigation_page, .navigation-pipe, .navigation_page > span > a > span, a{
		/*color: white !important;*/
		color: black !important;
	}

	 .breadcrumb a:after {
	 	/*background-color: white;*/
	 	background-color: black;
	 }
	 /*MY-ACCOUNT PAGE*/
	.middlebuttonarrow {
		background-color: #019c96;
	}

	#my-account ul.myaccount-link-list li a {
		border-radius: 0 !important;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 5px;
		display: table !important;
    	width: 100%;
	}
	#my-account ul.myaccount-link-list li a i {
		border: none !important;
	}
	#my-account ul.myaccount-link-list li a img {
		float: left;
		height: 50px
	}
	#my-account ul.myaccount-link-list li a span {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		border: none !important;
		display: table-cell !important;
		vertical-align: middle;
		width: 100%;
	}

	a:hover {
		text-decoration: none !important;
		font-weight: bold !important;
	}

	 /*a:hover {
	 	color: #0b3953;
	 }*/
	/*FIM CONTENT COLOR SCHEME*/
	/*FOOTER COLOR SCHEME*/

	.footer_single > a {
		/*color: black !important;*/
		color: white !important;
	}

	/*FIM FOOTER COLOR SCHEME*/

	/*PAGINA CHECKOUT*/
	em.step_current {
		background-color: #0c9895 !important;
	}
	ul.step li.step_todo em, li.step_done a em {
		background-color: rgba(0, 0, 0, 0.2)
	}
	/*FIM PAGINA CHECKOUT*/

/*FIM WEBSITE COLOR SCHEME*/

#wishlist_button_nopop {
	color: black !important;
}

#mywishlist h1.page-heading {
	margin-bottom: 0;
}

#bigpic {
	width:100%;
	height: initial;
}

.col-md-6 > img, .col-md-7 > img {
	width: 90%;
	float: right;
}

@media(max-width: 480px) {
	.col-md-6 > img, .col-md-7 > img {
		width: 100%;
	}
}

.content-container{
	padding: 50px 100px;
	background-repeat-y: no-repeat;
	background-size: contain;
	
	position:fixed;
	top: 90px;
	right: 0;
	left: 0;
	/*bottom: 60px;*/
	bottom: 0px;
	overflow-y: scroll;
}

@media (max-width: 480px){
	.content-container {
		padding: 0;
		position: fixed;
		top: 60px;
	}
}

ul#thumbs_list_frame {
	height: 100% !important;
	width: 100% !important;
}

#thumbs_list li {
	float: none !important;
}

/*#product-main-image-container {
	padding-left: 0px;
}*/

#product-secondary-images-container {
	padding-left: 0px;
}

@media(min-width: 481px) {
	.product_list {
		margin-left: -30px;
	}
}

.rte {
	padding: 0 !important;
}

.box-info-product {
	background-color: transparent !important;
	border: none !important;
	border-top: none !important;
	border-bottom: none !important;
}

.product_attributes, .box-cart-bottom {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
}	

#header {
	background-image: url('../../img/menu-background.jpg');
	background-size: contain;
	height: 90px;
	position: fixed;
	width: 100%;
	top: 0;
}

#top-menu {
	margin-top: 25px;
	float: right;
	color: white;
}

.hovered {
	height: auto !important;
	margin-bottom: 0 !important;
}

.slider-section {
	/*margin-bottom: 60px;*/
	position: fixed;
	top: 90px;
	width: 100%;
	/*bottom: 60px;*/
	bottom: 0;

}

@media(max-width: 480px) {
	.slider-section {
		top: 0px;
	}
}

.footer-container {
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    height: 40px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7) !important;
    /*opacity:0.5;*/
}

#footer-arrow {
	color: white !important;
}

@media (max-width: 480px) {
	.footer-container {

	}
}

#footer {
	margin: 0 !important;
	padding: 0;
	max-width: 100%;
	height: 100%;
}

/*.footer_single {
	height: 100% !important;
	min-height: 100% !important;
	background-color: black;
	text-align: center !important;
}*/

.footer_single > a {
	font-size: 12px;
}

.product-title {
	margin-bottom: 0;
}

.price {
	font-size: 18px !important;
}



button {
	background-color: transparent !important;
	padding: 5px 8px 2px 8px;
	border: 1px solid black;
}

@media(max-width: 480px) {
	button, .btn {
		margin-top: 5px;
	}
}

button > span, button > a {
	color: black !important;
}

button img {
	height: 20px;
}


.red-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e54051+40,e54051+53,e54051+68,e54051+69,000000+100 */
	background: #e54051; /* Old browsers */
	background: -moz-linear-gradient(left,  #e54051 40%, #e54051 53%, #e54051 68%, #e54051 69%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(40%,#e54051), color-stop(53%,#e54051), color-stop(68%,#e54051), color-stop(69%,#e54051), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e54051 40%,#e54051 53%,#e54051 68%,#e54051 69%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e54051 40%,#e54051 53%,#e54051 68%,#e54051 69%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e54051 40%,#e54051 53%,#e54051 68%,#e54051 69%,#000000 100%); /* IE10+ */
	background: linear-gradient(to right,  #e54051 40%,#e54051 53%,#e54051 68%,#e54051 69%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54051', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

/*Breadcrumb*/
.breadcrumb {
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 0 3px -14px !important;
    padding-left: 5px !important;
}

 .breadcrumb a:after {
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 65px;
	    margin-left: 30px;
 }

.navigation_page, .navigation-pipe, .navigation_page > span > a > span, a {
/*.navigation_page, .navigation-pipe, .navigation_page > span > a > span {*/
	background-color: transparent !important;
	font-weight: 200;
	font-size: 13px;
}
.navigation_page > span > a:hover {
	font-weight: bold !important;
	text-decoration: none
}

.navigation_page, .navigation-pipe, .navigation_page > span > a > span:last-child {
	background-color: transparent !important;
	font-weight: bolder;
}

.icon-minus, .icon-plus {
	color: #3a3230;
}




/*SLIDER*/

.my-hover-class {
 
 visibility: hidden !important; 
 opacity: 0 !important; 
 -webkit-transition: all 0.2s ease-out !important;
 -moz-transition: all 0.2s ease-out !important;
 -o-transition: all 0.2s ease-out !important;
 transition: all 0.2s ease-out !important;
 z-index: 1000;
 
}
 
.my-hover-class:hover {
 
 visibility: visible !important; 
 opacity: 1 !important;
 
}

.slider-item > p {
	font-size: 12px !important;
}

.tp-simpleresponsive img {
	width: 50px !important;
}


.row > #center_column {
	padding: 0;
	height: 100%;
}

.product_list > .col-md-3 {
	padding: 0 30px;
}

.category-heading-image-container {
	position: absolute;
	top: 20px;
	left: 10px;
}

.page-heading.product-listing {
	margin-top: 0 ;
}

p.buttons_bottom_block {
	width: 180px;
    height: 20px;
    margin: auto 0;
    padding: 0;
}

#layer_cart {
	position: fixed !important;
    left: 0 !important;
    top: 20% !important;
}

section#block_various_links_footer > div {
	height: 100%;
	text-align: center;
	padding-top: 11px;
} 

section#block_various_links_footer > div:first-child {
	z-index: 1;
} 

section#block_various_links_footer > div > a > h5 {
	text-align: center;
	margin-top: 22px;
} 

@media(max-width: 480px) {
	section#block_various_links_footer > div:last-child {
		padding-bottom: 10px;
	}
}

/*TOOLTIPSTER*/

.tooltipster-content {
	/*background-color: black;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,274c66+100,1e5799+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #274c66 100%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#274c66), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#274c66 100%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#274c66 100%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#274c66 100%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#274c66 100%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */


}
.tooltipster-noir {
	border: none !important;
}
.tooltip-header {
	color: white !important;
	word-wrap: break-word;
	width: 110px;
}
.tooltip-img {
	width: 105px;
}

/*PAGINA DE REGISTO/LOGIN*/
#login_form {
	border: none;
	background: transparent;
}
#create-account_form {
	border: none;
	background: transparent;
}

/*PAGINA DE CMS*/

#cms #center_column h3 {
	font-size: 24px !important;
	padding: 0 0 10px 0 !important;
}

#cms-content-container {
	height: 100%; 
	overflow-y: scroll; 
	float: left; 
	/*margin-right: 46%;*/
	width: 54%;
    padding-right: 18px;
}

@media(max-width: 480px) {
	#cms-content-container {
		margin-right: 0;
	}
}

.QAtitle {
	font-weight: bold;
}

/*PAGINA MY ACCOUNT*/
ul.myaccount-link-list li a span {
	color: #3a3230 !important;;
}

.myFinalizeButton {
	background: #019c96 !important;
	border: none !important;
}
.myFinalizeButton-text {
	color: white !important;
	border: none !important;
    padding: 6px 28px !important;
    font-weight: 100 !important;
}


.myMiddleActionButton {
	background: transparent !important;
	border: solid 1px black !important;
}

.myMiddleActionButton-text {
	display: inline-block !important;
	border: none !important;
    padding: 6px 28px !important;
    color: black !important;
    font-weight: 100 !important;
}

.myMiddleActionButton-text-right {
	padding: 6px 10px 6px 19px !important;
}

.myMiddleActionButton-text-left {
    padding: 6px 20px 6px 15px !important;
}

span.middlebuttonarrow {
	display: inline-block !important;
    border-radius: 90px !important;
    padding: 4px 4px !important;
    border: none !important;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 100;
    color: white !important;
}

span.middlebuttonarrow-right {
    margin-right: 10px;
}

span.middlebuttonarrow-left {
    margin-left: 10px;
}

/*PAGINA IDENTITY E OUTRAS*/
.box {
	background-color: transparent;
	border: none;
}

.page-subheading {
	border-bottom: none !important;
}

.page-heading {
	border-bottom: none !important;
	margin-bottom: 0 !important;	
	font-weight: 100;
    font-size: 20px;
}

/*PAGINA CHECKOUT*/
ul.step li.step_current span:after, ul.step li.step_todo span:after, ul.step li.step_done a:after {
	content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    margin-left: 30px;
}
	
/*ul.step li.step_current:after, ul.step li.step_todo:after, ul.step li.step_done:after {
	content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 190px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: black;
}*/

.step_current, .step_todo, .step_done {
	text-align: center !important;
	background: none !important;	
	border: none !important;
}

ul.step li.step_todo span, ul.step li.step_done {
	border: none !important;
}

ul.step li a, ul.step li span, ul.step li.step_current span, ul.step li.step_current_end span, ul.step li.step_done span {
	text-shadow: none !important;
	border: none !important;
}

ul.step li em, ul.step li a em {
	font-size: 15px;
	border-radius: 90px;
    padding: 7px 9px 3px 9px;
    font-weight: 100;
    color: white;
}

ul.step li h4, ul.step li a h4 {
	margin-top: 16px;
}



/*p, h1, h2, h3, h4, h5, div, b, strong, a.sf-with-ul {*/
p, h1, h2, h3, h4, h5, div, b, strong {
	font-family: 'Lato', 'Arial', sans-serif;
	/*font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;*/
	/*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;*/
	/*font-family: "Lato" !important;*/
}

ul.sf-menu li a {
	font-family: 'Lato', 'Arial', sans-serif;
	/*font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;*/
	/*font-family: "Open Sans", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;*/
	/*font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;*/
}

.menu-item {
	font-size: 14px;
	float: left;
	margin-left: 150px;
}

#header .shopping_cart > a:first-child:after {
	content: "";
}

#language-currency-container {
    float: right;
    margin-right: 40px;
}

#currencies-block-top > a, #currencies-block-top > span, #currencies-block-top > a > span{
	color: white !important;
}

#currencies-block-top > span {
	font-size: 10px;
}

.selected-currency {
	font-weight: bold
}

#currencies-block-top {
	padding-right: 5px;
	border-left: none !important;
	margin-top: -10px;
    height: 0;
}
/*LANGUAGE BLOCK */

#languages-block-top {
	margin-top: 3px;
	padding: 5px;
	background-color: black;
	border-left: none !important;
}

@media(max-width: 480px){
	#languages-block-top {
		background-color: black;
		border-left: none !important;
		float: left;
		margin-right: 0;
	}
}

#languages-block-top, .shoppingcart-login-container {
	float: right;
	background-color: black;
}

#languages-block-top > span#languagetext {
	font-size: 14px;
}

#languages-block-top > h4, #languages-block-top > a > h4 {
	font-size: 14px;
}

/*SHOPPING CART */

.shopping_cart {
	padding: 0 0 7px 0!important;
	border-bottom: solid 1px white;
	background-color: black !important;
	width: initial !important;
	white-space: nowrap;
}

.shopping_cart > a:first-child {
	display: table !important;
	background: transparent !important;
	padding: 7px 0px 0px 0px !important;
	margin-bottom: -6px;
}

.shopping_cart > a:first-child b {
	padding-right: 3px !important;
}

.shopping_cart > a:first-child:before {
	content: '' !important;
}

#header .shopping_cart > a:first-child:after {
	content: '' !important;
}

.shoppingcart-login-container {
	float: right;
	margin-right: 45px;
	padding: 0px 20px 0px 20px;
}

@media(max-width: 480px){
	.shoppingcart-login-container {
		float: left;
		margin-right: 0;
		padding: 0px 20px 0px 20px;
	}		
}

.shopping_cart > a > b {
	font-size: ;
}

.logintextheader {
	color: white;
	margin-left: 35px;
}

.logintextheader > a {
	float: right;
    font-size: 13px;
    margin-top: 1px;
}

/*TOP HORIZONTAL MENU*/

#block_top_menu {
	padding-top: 0px !important;
}
.sf-menu {
	background-color: transparent !important;
	border-bottom: none !important;
}

.sf-menu > li {
	border-right: none !important;
	white-space: nowrap;
}

.sf-menu > li > a:hover {
	text-decoration: none !important;
	font-weight: bold !important
}

ul.sf-menu > li > a {
	padding: 14px 50px !important;
	border-bottom: none !important;
}

ul.sf-menu > li > a, ul.sf-menu > li > ul > li > a {
	font-size: 15px !important;
	font-weight: 500 !important; 
}

.sf-menu > li > ul > li {
	display: inline-table !important;
}

.submenu-container {
	background-color: black !important;
	width: initial !important;
	left: initial !important;
	margin-left: 20px !important;
	padding: 10px 26px 10px 46px !important;
	top: 39px !important;
}

.submenu-container > li > a {
	font-size: 15px !important;
}

.submenu-container > li > ul {
	position: absolute !important;
	display: none !important;

}


/*ACCOUNT CREATION */

#account-creation_form {
	padding: 0 !important;
}

#account-creation_form > div > h3.page-subheading {
	margin-top: 0 !important;
}

div.selector span {
	color: black !important;
}

input {
	color: black !important;
}

/*MOBILE MENU*/

#fullscreen-menu-container {
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 60px;
	/*z-index: 1;*/
}

#menu-icon-container {
	height: 60px;
	width: 100%;
	padding: 15px 10px 0px 10px;
	background-color: black;
}

#menu-items-container {
	position: fixed;
	margin-top: -1px;
	/*padding-left: 15px;*/
	padding-bottom: 60px;
	top: 60px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85) !important;
	text-align: center;
	display: none;
}
#menu-items-container > div > div > a > h3 {
	color: white !important;
}

@media(max-width: 700px) {
	#fullscreen-menu-container {
		visibility: visible;
	}	
}

#home-mobile {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
}

#home-mobile > img {
	width: 100%; 
	overflow-y: hidden;
}

#home-mobile > div {
	position: absolute;
	width: 100%;
	bottom: 50px;
	padding-bottom: 12px;
}

@media(max-width: 480px) {
	#home-mobile {
		display: block;
	}
}

/*CATEGORIES PAGE*/

#subcategories > div > div > a > h4 {
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 9px 0 5px 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.content_scene_cat {
	border-top: none !important;
}

.filter-btn {
	cursor: pointer;
	border-left: solid 1px black;
	display: inline-block;
}

.important-black {
	color: black !important;
}

@media(max-width: 480px) {
	.filter-btn {
		display: block;
		padding: 0 15px !important;
		border-left: none;
	}	
	.filter-btn > span {
		color: #8f9396;
	}
	.cat-name {
		margin: 0 15px;
		display: block;
	    border-bottom: 1px solid grey;
	    padding-bottom: 3px;
	    color: #58595b;
	    font-weight: 600;
	    font-size: 19px;
	}
}

.filter-btn > span:hover {
	font-weight: bold;
}

/*FOR TABLES*/
.no-border {
	border: none;
}

.border-right {
	border-right: 1px solid #d6d4d4;
}

#cart_summary tbody td {
	border: none;
}

.table-bordered>thead>tr>th {
	border: none;
}

@media(max-width: 480px){
	.img-responsive {
		width: 100%;
	}	
	.zoomWindow {
		display: none !important;
	}
	.zoomPup {
		visibility: none !important
	}
}

button {
	height: 35px;
}
